<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="book">
	
	<select id="list" resultType="BookDto">
		select * from book order by book_id asc
	</select>
		
	<select id="listByPaging" resultType="BookDto">
		<include refid="top-n-header"></include>
		select * from book order by book_id asc
		<include refid="top-n-footer"></include>
	</select>
	
	<select id="count" resultType="int">
		select count(*) from book
	</select>
	
	<!-- 
    	Top N Query 적용
	    - 결국 홈페이지의 목록에는 페이징이라는 개념이 포함된다
	    - 어떻게 구현하느냐에 따라서 네비게이터나 무한스크롤 형태가 됨
	    - 모든 조회에 똑같이 들어가는 구문이므로 어딘가에 보관해두고 불러온다면?
	 -->
	<!-- 상단 -->
	<sql id="top-n-header">
	    <if test="beginRow != null and endRow != null">
	    select * from (
	        select rownum rn, TMP.* from (
	    </if>
	</sql>
	
	<!-- 하단 -->
	<sql id="top-n-footer">
	    <if test="beginRow != null and endRow != null">
	        )TMP
	    ) where rn between #{beginRow} and #{endRow}
	    </if>
	</sql>
	
</mapper>