<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="emp">
	
	<!-- Create -->
	<select id="sequence" resultType="int">
		select emp_seq.nextval from dual
	</select>
	<insert id="save">
		insert into emp(
			emp_no, emp_name, emp_dept, emp_date, emp_sal
		)
		values(
			#{empNo}, #{empName}, #{empDept}, #{empDate}, #{empSal}
		)
	</insert>
	
	<!-- Read -->
	<select id="list" resultType="EmpDto">
		select * from emp order by emp_no asc
	</select>
	<select id="find" resultType="EmpDto">
		select * from emp where emp_no = #{empNo}
	</select>
	
	<!-- Update -->
	<update id="editAll">
		update emp
		set 
			emp_name = #{empName},
			emp_dept = #{empDept},
			emp_date = #{empDate},
			emp_sal = #{empSal}
		where emp_no = #{empNo}
	</update>
	
	<update id="editUnit">
		update emp
		<set>
			<if test="empName != null">emp_name = #{empName},</if>
			<if test="empDept != null">emp_dept = #{empDept},</if>
			<if test="empDate != null">emp_date = #{empDate},</if>
			<if test="empSal > 0">emp_sal = #{empSal}</if>
		</set>
		where emp_no = #{empNo}
	</update>
	
	<!-- Delete -->
	<delete id="delete">
		delete emp where emp_no = #{empNo}
	</delete>
		
</mapper>