<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="student">
	
	<!-- Create -->
	<select id="sequence" resultType="int">
		select student_seq.nextval from dual
	</select>
	<insert id="save">
		insert into student(student_id, name, korean_score, english_score, math_score)
		values(#{studentId}, #{name}, #{koreanScore}, #{englishScore}, #{mathScore})
	</insert>
	
	<!-- Read -->
	<select id="list" resultType="StudentDto">
		select * from student order by student_id
	</select>
	<select id="find" resultType="StudentDto">
		select * from student where student_id = #{studentId}
	</select>
	
	<!-- 
		Update : 전체변경과 항목변경으로 나눠짐 
		<set> 키워드 내부에 <if>를 작성하면 참인 항목만 생성되며 콤마가 조절됨
	-->
	<update id="edit">
		update student
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="koreanScore != null">korean_score = #{koreanScore},</if>
			<if test="englishScore != null">english_score = #{englishScore},</if>
			<if test="mathScore != null">math_score = #{mathScore},</if>
		</set>
		where student_id = #{studentId}
	</update>
	
	<!-- Delete -->
	<delete id="delete">
		delete student where student_id = #{studentId}
	</delete>
		
</mapper>