<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="member">

<!-- 
	조회
	- 기본검색(type, keyword)
	- 복합검색
	- 계층형검색
 -->

	<select id="list" resultType="MemberDto">
		select * from member
	</select>
	
	<!-- 
		column은 정적배치이므로 $ 사용, keyword는 동적배치이므로 # 사용
	 -->

	<select id="search" resultType="MemberDto">
		select * from member where instr(${column}, #{keyword}) > 0
		order by ${column} asc, member_id asc
	</select>
	
	<!--  
		column, keyword 유무에 따라 목록 또는 검색을 실행
		mybatis 조건식에는 && 대신 and, || 대신 or을 사용한다
	 -->
	<select id="listOrSearch" resultType="MemberDto">
		select * from member
		<if test="column != null and keyword != null">
		where instr(${column}, #{keyword}) > 0 order by ${column} asc, member_id asc
		</if>
	</select>
	
	<!-- 
		복잡한 검색(complex search)
		- 테이블의 각 항목별로 특징에 맞게 검색하도록 구현
		- 유사검색, 일치검색, 구간검색 중 적절한 것을 선택
	 -->
	 <select id="complex" resultType="MemberDto">
	 	select * from member
	 	<where>
	 	<if test="memberId != null">
	 		and member_id like #{memberId} || '%'
	 	</if>
	 	<if test="memberNick != null">
	 		and instr(member_nick, #{memberNick}) > 0
	 	</if>
	 	</where>
	 </select>
	

</mapper>