<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatbot">

	<select id="list" resultType="ChatbotDto">
		select * from chatbot order by chatbot_no asc
	</select>

	<select id="find" resultType="ChatbotDto">
		select * from chatbot where chatbot_no = #{chatbotNo}
	</select>
	
</mapper>